h1 Names and Foods
li John: Poop
li Cindy: Bananas
li Lori: Cookies
li John C: High Fructose Corn Syrup
li jason: candy
li sandy: seafood
li  Emily: Apples
li  Bob: carrots
  liAustin: Pizza
li Jason Bourne: Spinach, Kale, and Chicken
li George: Cake
li Jacob: Terrorists 
li Sam: The Fungus Among us
li Jorge: Tacos
li undefined: Extra large data
